*.pyc
*.pgw
*.npy
*.pkl
*.def
*.pyd
*.o
*.c
*.pgm
code/ship_detection/data/1.pgm.txt
*.xml
/data/**/*.jpg
/data/**/*.png
/data/**/*.tif
/code/ship_detection/results/**/*.png
/code/ship_detection/results/**/*.tif
/code/ship_detection/data/ori/**/*.png
/code/ship_detection/data/ori/**/*.tif
/test/ship/full/**/*.png
/test/ship/full/**/*.jpg
/genfiles/amv_visualization/**/*.png
/code/lib/data/**/*.png
/code/lib/data/**/*.jpg
/results/*.png
/results/*.tif
/code/ship_detection/data/ori/**/*.jpg
/code/ship_detection/data/ori/**/*.tif
/code/ship_detection/data/ori/**/*.png